.hero_image {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  top: 72px;
}


.main_content {
  width: 1440px;
}

.main_title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
  text-align: center;
}

h1 {
  text-align: center;
}

.first_buttonf{
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}


.first_buttonf:hover{
  background-color: #404BBF;
}
