/* section 1 */
.hero_image {
  background-color: #2e2f42;
}


.main_content {
  width: 1440px;
}

.main_title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

h1 {
  text-align: center;
}

.first_button,
link {
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.first_button,
link:hover {
  background-color: #404BBF;
}

.first_button,
link:focus {
  background-color: #404BBF;
}

/* section 2 */
.third_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

.text_for_third_title_section_two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 3 */
.Our_team{
  background-color: #F4F4FD;
}
.Our_team_title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.list_section_three{
  background-color: #ffffff;
}
.Our_team_Person{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.Our_team_Profesion{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}