.hero_image {
  background-color: #2e2f42;
}


.main_content {
  width: 1440px;
}

.main_title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

h1 {
  text-align: center;
}

.first_button{
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.first_button:hover{
  background-color: #404BBF;
}
.first_button:focus{
  background-color: #404BBF;
}


